.container {
    display: flex;
}

.carousel {
    flex: 1;
    width: 100%;
    position: relative;
    left: -10%;
}

.wrapper {
    height: 130vh;
    position: relative;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

.details {
    flex: 1;
    position: relative;
    margin-top: 3rem;
}

.hero {
    height: 100%;
    position: absolute;
    width: 500px;
    left: 0;
    
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: center right;
    }
}

@media screen and (max-width: 1440px) {
    .hero {
        width: 400px;
    }
}

@media screen and (max-width: 1250px) {
    .hero {
        width: 300px;
    }
}

@media screen and (max-width: 970px) {    
    .hero {
        width: 400px;
        
        img {
            top: 0;
        }
    }
    .carousel {
        flex-direction: column;
    }

    .details {
        margin-top: 100dvh;
    }
}